.blokc {
    display: flex;
    height: 30px;
    width: 70px;
    text-align: center;
    background: yellow;
    color: black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
    font-size: 12px;
    font-weight: 650;

}